.container {
	display: flex;
}
.sidebar {
	width: 30%;
	height: 100vh;
	background: white;
	margin-left: max(calc(35% - 380px), 0px);
	max-width: 380px;
	@apply px-16;
}
.main {
	background: #f1f1f1;
	flex: 1;
}